body {
    background-color: #18162C;
    margin: 0;
}

#cabecalho {
    top: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #A78E70;
    font-size: 15px;
    line-height: 20px;
}

ol, ul, table, a {
    font-family: 'Montserrat', sans-serif;
    color: #A78E70;
    font-size: 15px;
}

#titulo {
    text-align: center;
    padding: 30px;
    background-color: #27494F;
    color: #A78E70;
}

#minha_foto {
    border: 2px solid #A78E70;
    margin-left: 80px;
    border-radius: 50px;
    width: 500px;
    position: relative;
    top: 30px;
}

#rodape a {
    margin: 20px;
    display: inline-block;
    margin-left: 125px;
    background-color: #27494F;
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
    font-weight: bolder;
    font-size: 15px;
}

.table-content {
    border: 2px solid #27494F);
    margin-left: 100px;
    margin-top: 40px;
}

.div-content {
    height: 560px;
}

.div-content p {
    margin-left: 650px; 
    text-align: justify;
    margin-right: 30px;
    position: relative;
    bottom: 500px;
}

#licoes_aprendidas, #licoes_a_aprender {
    margin-left: 650px;
    position: relative;
    bottom: 500px;
}

.aclass-margin p {
    margin-left: 30px;
    text-align: justify;
    margin-right: 30px;
}

