* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

select {
  box-shadow: 2px 2px 2px #fab243;
  color: #fab243;
  height: 25px;
  margin: 10px;
  text-align: center;
  width: 150px;
}

form {
  display: flex;
  margin-top: 15px;
}

label {
  margin-left: 20px;
}

.button-class {
  margin: 20px;
}
