* {
  background-image: url('./images/background.png');
}

.App {
  text-align: center;
}

h1, h2 {
  color: white;
  font-family: fantasy , sans-serif;
  font-size: 50px;
  text-align: center;
}

p {
  color: white;
}
