* {
  background-color: #fafafa;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  color: black;
  font-family: Epilogue , sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
}

.page-login-class {
  display: flex;
  justify-content: center;

}
