* {
  background-color: #fafafa;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  align-content: center;
  background-color: #023031;
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
}

.page-login-class {
  display: flex;
  justify-content: center;
  margin-top: 400px;
}

.header-class {
  background-color: #023031;
  display: flex;
  height: 140px;
  justify-content: space-between;
}

img {
  background-color: #023031;
  height: 100px;
  margin-left: 20px;
  width: 150px;
}

.div-header-user {
  align-self: center;
  border-radius: 15px;
  font-family: Epilogue , sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  margin-right: 25px;
  padding: 15px;
}

nav a {
  background-color: #f0f2f5;
  border-radius: 10px;
  color: #2fc18c;
  font-family: Epilogue , sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin: 20px 0;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a:hover {
  background-color: #036b52;
  color: white;
}

.div-header-user svg {
  margin: 0 10px;
  text-align: center;
}

.div-login2 {
  height: 200px;
}

.div-form-artist {
  display: flex;
  justify-content: center;
}

.div-form-artist input {
  border-radius: 10px;
  box-shadow: 3px 3px 3px black;
  height: 45px;
  margin: 50px;
  padding: 10px;
  width: 519px;
}

.div-form-artist button {
  background-color: #003be5;
  border-radius: 10px;
  box-shadow: 3px 3px 3px black;
  color: white;
  font-family: Verdana , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 45px;
  line-height: 150%;
  width: 134px;
}

.div-form-artist button:hover {
  font-weight: 600;
}

h1 {
  color: #001813;
  font-family: Epilogue , sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  text-align: center;
}

.div2-datainfo {
  display: flex;
  flex-direction: row;
}

.div2-datainfo ul li a {
  color: #3d495c;
  display: flex;
  flex-direction: row;
  font-family: Verdana , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  list-style: none;
  margin: 20px;
  text-decoration: none;
}

.div2-datainfo ul li {
  list-style: none;
  text-decoration: none;
  width: 250px;
}

.div2-datainfo ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.div2-datainfo ul li img {
  background: white;
  border: 1px solid #e1e5eb;
  border-radius: 6px;
  box-shadow: 1px 2px 1px black;
}

.div2-datainfo ul li a:hover {
  color: #003be5;
  font-weight: 600;
}
